name = "M_CLI"
version = "0.1.0"
license = "Public Domain"
author = "John S. Urban"
maintainer = "urbanjost@comcast.net"
copyright = "2020 John S. Urban"
description = "Unix-style commandline parsing using a prototype command and NAMELIST (STD:f2008)"

# unit test program
test = [ { name="runTests", source-dir="test", main="main.f90" } ]

# demo programs
executable = [ { name="demo1", source-dir="PROGRAMS/demo1", main="demo1.f90" },
               { name="demo2", source-dir="PROGRAMS/demo2", main="demo2.f90" },
               { name="demo3", source-dir="PROGRAMS/demo3", main="demo3.f90" },
               { name="demo4", source-dir="PROGRAMS/demo4", main="demo4.f90" },
               { name="demo5", source-dir="PROGRAMS/demo5", main="demo5.f90" },
               { name="demo6", source-dir="PROGRAMS/demo6", main="demo6.f90" },
               { name="demo7", source-dir="PROGRAMS/demo7", main="demo7.f90" },
               { name="demo9", source-dir="PROGRAMS/demo9", main="segments.f90" },
               { name="demo_check_commandline", source-dir="PROGRAMS/demos/check_commandline", main="check_commandline.f90" },
               { name="demo_commandline",       source-dir="PROGRAMS/demos/commandline",       main="commandline.f90" },
               { name="demo_M_CLI",             source-dir="PROGRAMS/demos/M_CLI",             main="M_CLI.f90" },
               { name="demo_print_dictionary",  source-dir="PROGRAMS/demos/print_dictionary",  main="print_dictionary.f90" } ]

[library]
source-dir="src"


